{% extends 'main.html' %}

{% block title %}
{% endblock title %}
{% block body %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">

            <h6 class="card-subtitle mb-2 text-muted"> user: {{ profile.user.username }} </h6>
            <h6 class="card-subtitle mb-2 text-muted"> name : {{ profile.user.first_name }} </h6>
            <h6 class="card-subtitle mb-2 text-muted">lastname: {{ profile.user.last_name }} </h6>
            <h6 class="card-subtitle mb-2 text-muted"> email: {{ profile.user.email }} </h6>
            <h6 class="card-subtitle mb-2 text-muted"> phone: {{ profile.phone }} </h6>

            <a href="{% url 'accounts:update' %}">ویرایش پروفایل</a><br>
            <a href="{% url 'accounts:change' %}">تغییر رمز عبور</a>
        </div>
    </div>

{% endblock %}
<table>
    <tr>
        <th>user: {{ profile.user.username }}</th>
    </tr>
    <tr>
        <th>name : {{ profile.user.first_name }} </th>
    </tr>
    <tr>
        <th>lastname: {{ profile.user.last_name }} </th>
    </tr>
    <tr>
        <th>email: {{ profile.user.email }}</th>
    </tr>
    <tr>
        <th>phone: {{ profile.phone }}</th>
    </tr>
</table>
